<!doctype html>
<!-- 
* Bootstrap Simple Admin Template
* Version: 2.1
* Author: Alexis Luna
* Website: https://github.com/alexis-luna/bootstrap-simple-admin-template
-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}} | Yaponamama</title>
    <link href="/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet">
    <link href="/vendor/flagiconcss/css/flag-icon.min.css" rel="stylesheet">

    <link href="/vendor/datatables/datatables.min.css" rel="stylesheet">
    <link href="assets/css/auth.css" rel="stylesheet">
    <link rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmRhTLltigt0hR8N7MVIWslzOVYG3mYhJYM0tLziHxcxA4ObVLFAeZz8T8mt320pEVZsA&usqp=CAU" type="image/x-icon">
    
  <script src="https://cdn.tiny.cloud/1/l59hopd7q6fbnaasfujp0pbasy3lzk2sa91c8fj33i00d5wp/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

</head>

